# Example usage

To use `financecalculator` in a project:

In [12]:
import pandas as pd
import financecalculator
from financecalculator.future_value import future_value
from financecalculator.present_value import present_value
from financecalculator.contribution import calculate_contribution
from financecalculator.n_periods import n_periods

print(financecalculator.__version__)

0.1.0

**NOTE:** I added excess cells as a TEMPLATE to avoid merge conflicts. Please do NOT delete or add any extra cells. Please work within the 15 cells and we can tidy it up after everyone's completed their part :)

**Persona: Tommy, 40 years old, has a family, trying to be financially aware and plan for his future.**

## Present Value

In [8]:
present_value(1000, 5, 12, 100) #just checking function works

   Present Value  Principal  Contributions  Interest Saved
0      2168.1222       1000           1200       -968.1222

- investment or inflation?

## Future Value

In [7]:
future_value(1000, 5, 12, 100) #just checking function works

   Future Value  Principal  Contributions  Interest Earned
0       2279.05       1000           1200            79.05

Retirement??

## Contribution

In [11]:
calculate_contribution(1000, 2000, 5, 12) #just checking function works this can be changed

248.48911203206904

## n_periods

In [13]:
n_periods(1000, 5, 2000, 100)

9